<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PUPPIES YAY</title>
  </head>

  <body>

    <h1>New Puppy Information</h1>

    <p>Puppy Name: <%= @puppy.name %></p>
    <p>Puppy Breed: <%= @puppy.breed %></p>
    <p>Puppy Age: <%= @puppy.age %></p>

  </body>
</html>
